# Virtual Environments 
CL_RL
venv

# Jupyter 
test.ipynb
test_notebooks/
#*.ipynb
##!notebooks/*.ipynb
#!cl_main.ipynb
#!beta_main.ipynb
#!visualizations/*.ipynb

# wandb 
wandb/

# Models 
!train_models

# py 
__pycache__
checkpoint_fix.py
*.pyc

# misc 
test_plots/
plots/
readme_etc.txt