# Virtual Environments 
CL_RL

# Jupyter 
*.ipynb
!notebooks/*.ipynb
!cl_main.ipynb
!beta_main.ipynb
!visualizations/*.ipynb

# wandb 
wandb/

# Models 
saved_models/ 
*.ckpt
!best_models/*.ckpt

# py 
__pycache__
*.pyc

# misc 
!The Simpsons